<!-- HEADER -->
        <div class="header">
            <div class="left-section">
                <button id="menuToggle" class="menu-button">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="search-small">
                    <input type="text" placeholder="Search">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </div>

            <div class="nav-links">
                <a href="index.html">Home</a>
                <a href="pages/dataset.html">Datasets</a>
                <a href="paper.html">Papers</a>
                <a href="upload.html">Upload</a>
                <a href="map.html">Map</a>
                <a href="more.html">More</a>
            </div>

            <div class="user-section">
                <a href="#" class="user-button">
                    <i class="fas fa-user-circle user-icon"></i>
                    Account
                </a>
            </div>
        </div>